<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bidex.app" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name="com.bidex.app.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bidex.app.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask"
            android:label="@string/app_name"/>

        <activity android:name="com.bidex.app.PaymentActivity"
            android:noHistory="true"
            android:label="@string/title_payment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bidex.app.MainActivity" />
        </activity>
        <activity android:name="com.bidex.app.LoginActivity"
            android:label="@string/title_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bidex.app.MainActivity" />
        </activity>
        <activity android:name="com.bidex.app.SignActivity"
            android:noHistory="true"
            android:label="@string/title_sign">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bidex.app.LoginActivity" />
        </activity>

    </application>

</manifest>
